In [4]:
import pandas as pd
import numpy as np
from collections import OrderedDict

import data_API

In [5]:
start_data = '2018-04-24-0'
end_data = '2018-04-24-23'

args = data_API.Param(start_data, end_data)
args.get_data()

done
done
done
done
done

In [6]:
bj_air = pd.read_csv(args.path_bj_air)
ld_air = pd.read_csv(args.path_ld_air)
submission = pd.read_csv('D:/Program/dataset/KDD2018/KDD_dataset/sample_submissioin.csv')

In [7]:
bj_stat = list(OrderedDict.fromkeys(bj_air['station_id'].values))
bj_stat

['dongsi_aq',
 'tiantan_aq',
 'guanyuan_aq',
 'wanshouxigong_aq',
 'aotizhongxin_aq',
 'nongzhanguan_aq',
 'wanliu_aq',
 'beibuxinqu_aq',
 'zhiwuyuan_aq',
 'fengtaihuayuan_aq',
 'yungang_aq',
 'gucheng_aq',
 'fangshan_aq',
 'daxing_aq',
 'yizhuang_aq',
 'tongzhou_aq',
 'shunyi_aq',
 'pingchang_aq',
 'mentougou_aq',
 'pinggu_aq',
 'huairou_aq',
 'miyun_aq',
 'yanqin_aq',
 'dingling_aq',
 'badaling_aq',
 'miyunshuiku_aq',
 'donggaocun_aq',
 'yongledian_aq',
 'yufa_aq',
 'liulihe_aq',
 'qianmen_aq',
 'yongdingmennei_aq',
 'xizhimenbei_aq',
 'nansanhuan_aq',
 'dongsihuan_aq']

In [8]:
ld_stat = list(OrderedDict.fromkeys(ld_air['station_id'].values))
ld_stat

['CD1',
 'BL0',
 'GR4',
 'MY7',
 'HV1',
 'GN3',
 'GR9',
 'LW2',
 'GN0',
 'KF1',
 'CD9',
 'CT3',
 'CT2',
 'BX9',
 'BX1',
 'TH4',
 'ST5',
 'RB7',
 'TD5']

In [9]:
def cut_station(s):
    number_index = s.find('#')
    return s[0:number_index]

sub_stat = list(OrderedDict.fromkeys(submission['test_id'].apply(cut_station).values))
sub_stat

['dongsi_aq',
 'tiantan_aq',
 'guanyuan_aq',
 'wanshouxig_aq',
 'aotizhongx_aq',
 'nongzhangu_aq',
 'wanliu_aq',
 'beibuxinqu_aq',
 'zhiwuyuan_aq',
 'fengtaihua_aq',
 'yungang_aq',
 'gucheng_aq',
 'fangshan_aq',
 'daxing_aq',
 'yizhuang_aq',
 'tongzhou_aq',
 'shunyi_aq',
 'pingchang_aq',
 'mentougou_aq',
 'pinggu_aq',
 'huairou_aq',
 'miyun_aq',
 'yanqin_aq',
 'dingling_aq',
 'badaling_aq',
 'miyunshuik_aq',
 'donggaocun_aq',
 'yongledian_aq',
 'yufa_aq',
 'liulihe_aq',
 'qianmen_aq',
 'yongdingme_aq',
 'xizhimenbe_aq',
 'nansanhuan_aq',
 'dongsihuan_aq',
 'CD1',
 'BL0',
 'GR4',
 'MY7',
 'HV1',
 'GN3',
 'GR9',
 'LW2',
 'GN0',
 'KF1',
 'CD9',
 'ST5',
 'TH4']

In [10]:
ld_stat = sub_stat[35:]
ld_stat

['CD1',
 'BL0',
 'GR4',
 'MY7',
 'HV1',
 'GN3',
 'GR9',
 'LW2',
 'GN0',
 'KF1',
 'CD9',
 'ST5',
 'TH4']

In [11]:
def get_time(t):
    hour = int(t[-8:-6])
    return hour


def insert_row(idx, df):
    df_insert = pd.Series([np.nan])
    for i in idx:        
        dfA = df.iloc[:i, ]
        dfB = df.iloc[i:, ]
        
        df = dfA.append(df_insert, ignore_index = True).append(dfB).reset_index(drop = True)

    return df


def insert_row(idx, df):
    df_insert = pd.Series([np.nan])
    for i in idx:
        
        dfA = df.iloc[:i, ]
        dfB = df.iloc[i:, ]
        
        df = dfA.append(df_insert, ignore_index = True).append(dfB).reset_index(drop = True)

    return df

In [12]:
air_index = ["PM25_Concentration","PM10_Concentration","O3_Concentration"]

In [13]:
df = pd.DataFrame()


for i in bj_stat:
    sub_air = bj_air[bj_air['station_id']==i].fillna(method='ffill')
    get_air_time = sub_air['time'].apply(get_time).values
    lost_time = list(set(range(24))-set(get_air_time))
    
    sub_air = sub_air[air_index]
    sub_air = sub_air.reset_index(drop=True)
    
    new_sub = insert_row(lost_time, sub_air)
    
    new_sub = new_sub[air_index]
    new_sub = new_sub.fillna(method='ffill')
    new_sub = new_sub.append(new_sub, ignore_index=True)
    
    df = df.append(new_sub[air_index],ignore_index=True)

C:\Anaconda\lib\site-packages\pandas\core\frame.py:5175: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  other.index).difference(self.columns).tolist()
C:\Anaconda\lib\site-packages\pandas\core\frame.py:5175: RuntimeWarning: '<' not supported between instances of 'int' and 'str', sort order is undefined for incomparable objects
  other.index).difference(self.columns).tolist()

In [14]:
df

      PM25_Concentration  PM10_Concentration  O3_Concentration
0                   19.0                36.0              41.0
1                   22.0                24.0              66.0
2                   17.0                27.0              75.0
3                   14.0                64.0              95.0
4                   10.0                19.0             110.0
5                    9.0                17.0             114.0
6                    7.0                 7.0             122.0
7                    7.0                17.0             127.0
8                   20.0                22.0             133.0
9                   20.0                22.0             133.0
10                  20.0                22.0             133.0
11                  14.0                43.0             115.0
12                  20.0                74.0             107.0
13                  31.0                72.0              87.0
14                  24.0                54.0              83.0
15                  25.0                61.0              90.0
16                  23.0                51.0              92.0
17                  28.0                51.0              68.0
18                  28.0                58.0              39.0
19                  26.0                58.0              25.0
20                  36.0                83.0               2.0
21                  38.0                92.0               2.0
22                  35.0                80.0               2.0
23                  32.0                56.0               9.0
24                  19.0                36.0              41.0
25                  22.0                24.0              66.0
26                  17.0                27.0              75.0
27                  14.0                64.0              95.0
28                  10.0                19.0             110.0
29                   9.0                17.0             114.0
...                  ...                 ...               ...
1650                29.0               106.0               2.0
1651                34.0               102.0               2.0
1652                40.0               132.0               2.0
1653                42.0               126.0               2.0
1654                44.0               133.0               2.0
1655                38.0               113.0               2.0
1656                29.0               133.0               2.0
1657                22.0               139.0              24.0
1658                15.0               114.0              54.0
1659                10.0                52.0              74.0
1660                10.0                63.0              72.0
1661                 8.0                77.0              82.0
1662                 6.0                77.0              99.0
1663                 7.0                77.0              93.0
1664                 7.0                77.0              85.0
1665                 7.0                77.0              85.0
1666                 7.0                77.0              85.0
1667                11.0                77.0              99.0
1668                17.0                77.0             100.0
1669                21.0                25.0              88.0
1670                22.0                50.0              72.0
1671                22.0                27.0              75.0
1672                21.0                38.0              89.0
1673                25.0                37.0              49.0
1674                29.0               106.0               2.0
1675                34.0               102.0               2.0
1676                40.0               132.0               2.0
1677                42.0               126.0               2.0
1678                44.0               133.0               2.0
1679                38.0               113.0               2.0

[1680 rows x 3 columns]

In [15]:
for i in ld_stat:
    sub_air = ld_air[ld_air['station_id']==i].fillna(method='ffill')
    get_air_time = sub_air['time'].apply(get_time).values
    lost_time = list(set(range(24))-set(get_air_time))
    
    sub_air = sub_air[air_index]
    sub_air = sub_air.reset_index(drop=True)
    
    new_sub = insert_row(lost_time, sub_air)
    
    new_sub = new_sub[air_index]
    new_sub = new_sub.fillna(method='ffill')
    new_sub = new_sub.append(new_sub, ignore_index=True)
    
    df = df.append(new_sub[air_index],ignore_index=True)

In [16]:
df

      PM25_Concentration  PM10_Concentration  O3_Concentration
0                   19.0                36.0              41.0
1                   22.0                24.0              66.0
2                   17.0                27.0              75.0
3                   14.0                64.0              95.0
4                   10.0                19.0             110.0
5                    9.0                17.0             114.0
6                    7.0                 7.0             122.0
7                    7.0                17.0             127.0
8                   20.0                22.0             133.0
9                   20.0                22.0             133.0
10                  20.0                22.0             133.0
11                  14.0                43.0             115.0
12                  20.0                74.0             107.0
13                  31.0                72.0              87.0
14                  24.0                54.0              83.0
15                  25.0                61.0              90.0
16                  23.0                51.0              92.0
17                  28.0                51.0              68.0
18                  28.0                58.0              39.0
19                  26.0                58.0              25.0
20                  36.0                83.0               2.0
21                  38.0                92.0               2.0
22                  35.0                80.0               2.0
23                  32.0                56.0               9.0
24                  19.0                36.0              41.0
25                  22.0                24.0              66.0
26                  17.0                27.0              75.0
27                  14.0                64.0              95.0
28                  10.0                19.0             110.0
29                   9.0                17.0             114.0
...                  ...                 ...               ...
2274                 7.5                14.4               NaN
2275                 6.0                12.2               NaN
2276                 6.9                13.6               NaN
2277                 7.9                10.1               NaN
2278                 1.9                10.6               NaN
2279                 4.0                 8.6               NaN
2280                 7.1                18.2               NaN
2281                 5.9                14.9               NaN
2282                 6.6                15.0               NaN
2283                 6.7                12.6               NaN
2284                 5.2                11.7               NaN
2285                 8.4                14.4               NaN
2286                11.7                18.2               NaN
2287                 8.5                21.1               NaN
2288                 7.3                25.0               NaN
2289                 7.3                25.0               NaN
2290                 9.1                25.5               NaN
2291                 8.6                25.9               NaN
2292                 9.8                25.0               NaN
2293                13.0                24.5               NaN
2294                11.4                21.1               NaN
2295                 5.8                19.6               NaN
2296                 5.0                18.0               NaN
2297                 5.6                 9.4               NaN
2298                 7.5                14.4               NaN
2299                 6.0                12.2               NaN
2300                 6.9                13.6               NaN
2301                 7.9                10.1               NaN
2302                 1.9                10.6               NaN
2303                 4.0                 8.6               NaN

[2304 rows x 3 columns]

In [17]:
df[df.values<0] = np.abs(df[df.values<0].values)

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in less
  """Entry point for launching an IPython kernel.

In [18]:
rename_cols = {'PM25_Concentration': 'PM2.5', 'PM10_Concentration': 'PM10', 'O3_Concentration':'O3'}

df = df.rename(columns=rename_cols)
df.head()

   PM2.5  PM10     O3
0   19.0  36.0   41.0
1   22.0  24.0   66.0
2   17.0  27.0   75.0
3   14.0  64.0   95.0
4   10.0  19.0  110.0

In [19]:
submission.head()

       test_id  PM2.5  PM10  O3
0  dongsi_aq#0      0     0   0
1  dongsi_aq#1      0     0   0
2  dongsi_aq#2      0     0   0
3  dongsi_aq#3      0     0   0
4  dongsi_aq#4      0     0   0

In [20]:
df['test_id'] = submission['test_id']
df.head()

   PM2.5  PM10     O3      test_id
0   19.0  36.0   41.0  dongsi_aq#0
1   22.0  24.0   66.0  dongsi_aq#1
2   17.0  27.0   75.0  dongsi_aq#2
3   14.0  64.0   95.0  dongsi_aq#3
4   10.0  19.0  110.0  dongsi_aq#4

In [21]:
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df.head()

       test_id  PM2.5  PM10     O3
0  dongsi_aq#0   19.0  36.0   41.0
1  dongsi_aq#1   22.0  24.0   66.0
2  dongsi_aq#2   17.0  27.0   75.0
3  dongsi_aq#3   14.0  64.0   95.0
4  dongsi_aq#4   10.0  19.0  110.0

In [22]:
start = int(start_data.split('-')[-2])+1
start = start_data[:8]+str(start)

end = int(end_data.split('-')[-2])+2
end = end_data[:8]+str(end)

In [23]:
res_path = 'D:/Program/dataset/KDD2018/result/'
csv_name = res_path+'result_'+start+'-'+end+'.csv'
df.to_csv(csv_name, index=False)