In [1]:
import pandas as pd

In [2]:
path = "D:/Program/dataset/KDD2018/KDD_dataset/process_data/"
bj_aq = pd.read_csv(path+"bj_17_18_aq_cleaned.csv")
bj_aq.head(10)

         stationId             utc_time  PM2.5   PM10    NO2   CO    O3   SO2
0  aotizhongxin_aq  2017-01-01 14:00:00  453.0  467.0  156.0  7.2   3.0   9.0
1  aotizhongxin_aq  2017-01-01 15:00:00  417.0  443.0  143.0  6.8   2.0   8.0
2  aotizhongxin_aq  2017-01-01 16:00:00  395.0  467.0  141.0  6.9   3.0   8.0
3  aotizhongxin_aq  2017-01-01 17:00:00  420.0  484.0  139.0  7.4   3.0   9.0
4  aotizhongxin_aq  2017-01-01 18:00:00  453.0  520.0  157.0  7.6   4.0   9.0
5  aotizhongxin_aq  2017-01-01 19:00:00  429.0    0.0  141.0  6.5   3.0   9.0
6  aotizhongxin_aq  2017-01-01 20:00:00  211.0    0.0  110.0  3.3   0.0  11.0
7  aotizhongxin_aq  2017-01-01 21:00:00  116.0    0.0   87.0  2.2   4.0  13.0
8  aotizhongxin_aq  2017-01-01 22:00:00   51.0    0.0   58.0  1.3  26.0  14.0
9  aotizhongxin_aq  2017-01-01 23:00:00   38.0    0.0   55.0  1.1  28.0  14.0

In [3]:
bj_meo = pd.read_csv(path+"bj_17_18_meo_clean.csv")
bj_meo.head(10)

,station_id,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed,weather
0,shunyi_meo,116.615278,40.126667,2017-01-30 16:00:00,-1.7,1028.7,15,215.0,1.6,Sunny/clear
1,shunyi_meo,116.615278,40.126667,2017-01-30 17:00:00,-3.5,1028.4,24,16.0,1.0,Haze
2,shunyi_meo,116.615278,40.126667,2017-01-30 18:00:00,-3.7,1028.1,27,32.0,1.1,Haze
3,shunyi_meo,116.615278,40.126667,2017-01-30 19:00:00,-3.9,1027.6,27,21.0,0.9,Haze
4,shunyi_meo,116.615278,40.126667,2017-01-30 20:00:00,-4.1,1026.7,26,17.0,1.1,Haze
5,shunyi_meo,116.615278,40.126667,2017-01-30 21:00:00,-4.2,1026.1,28,68.0,0.9,Haze
6,shunyi_meo,116.615278,40.126667,2017-01-30 22:00:00,-4.0,1025.7,27,329.0,1.1,Haze
7,shunyi_meo,116.615278,40.126667,2017-01-30 23:00:00,-4.7,1025.9,29,28.0,0.7,Haze
8,shunyi_meo,116.615278,40.126667,2017-01-31 00:00:00,-4.9,1026.1,28,17.0,1.2,Haze
9,shunyi_meo,116.615278,40.126667,2017-01-31 01:00:00,-3.6,1026.2,28,29.0,1.1,Haze

In [4]:
# bj_aq "stationId" --->  "station_id"
bj_aq = bj_aq.rename(columns={'stationId':'station_id'})
bj_aq.head()

        station_id             utc_time  PM2.5   PM10    NO2   CO   O3  SO2
0  aotizhongxin_aq  2017-01-01 14:00:00  453.0  467.0  156.0  7.2  3.0  9.0
1  aotizhongxin_aq  2017-01-01 15:00:00  417.0  443.0  143.0  6.8  2.0  8.0
2  aotizhongxin_aq  2017-01-01 16:00:00  395.0  467.0  141.0  6.9  3.0  8.0
3  aotizhongxin_aq  2017-01-01 17:00:00  420.0  484.0  139.0  7.4  3.0  9.0
4  aotizhongxin_aq  2017-01-01 18:00:00  453.0  520.0  157.0  7.6  4.0  9.0

In [5]:
# remove the suffix of station_id (aq and meo)
bj_aq['station_id'] = bj_aq['station_id'].map(lambda x : str(x)[:-3])
bj_meo['station_id'] = bj_meo['station_id'].map(lambda x : str(x)[:-4])
bj_meo.head()

,station_id,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed,weather
0,shunyi,116.615278,40.126667,2017-01-30 16:00:00,-1.7,1028.7,15,215.0,1.6,Sunny/clear
1,shunyi,116.615278,40.126667,2017-01-30 17:00:00,-3.5,1028.4,24,16.0,1.0,Haze
2,shunyi,116.615278,40.126667,2017-01-30 18:00:00,-3.7,1028.1,27,32.0,1.1,Haze
3,shunyi,116.615278,40.126667,2017-01-30 19:00:00,-3.9,1027.6,27,21.0,0.9,Haze
4,shunyi,116.615278,40.126667,2017-01-30 20:00:00,-4.1,1026.7,26,17.0,1.1,Haze

In [6]:
bj_meo['station_id'].value_counts()

chaoyang       8781
pingchang      8781
shangdianzi    8781
fangshan       8781
yanqing        8781
shijingshan    8781
daxing         8781
shunyi         8781
zhaitang       8781
miyun          8781
hadian         8780
tongzhou       8780
mentougou      8780
huairou        8780
xiayunling     8780
fengtai        8780
pinggu         8779
beijing        8778
Name: station_id, dtype: int64

In [7]:
bj_aq['station_id'].value_counts()

dingling          8849
wanliu            8802
aotizhongxin      8799
gucheng           8782
mentougou         8777
badaling          8773
yizhuang          8766
shunyi            8760
fengtaihuayuan    8759
fangshan          8743
pinggu            8729
pingchang         8727
miyun             8717
tiantan           8717
guanyuan          8717
yanqin            8716
dongsi            8688
yungang           8681
daxing            8661
huairou           8652
wanshouxigong     8621
nongzhanguan      8617
yongledian        8608
yongdingmennei    8594
qianmen           8584
xizhimenbei       8480
yufa              8448
beibuxinqu        8442
miyunshuiku       8339
donggaocun        8331
tongzhou          7735
nansanhuan        6987
dongsihuan        6915
zhiwuyuan         6819
liulihe           6685
Name: station_id, dtype: int64

In [8]:
meo_set = set(bj_meo['station_id'].value_counts().to_dict().keys())
meo_set

{'beijing',
 'chaoyang',
 'daxing',
 'fangshan',
 'fengtai',
 'hadian',
 'huairou',
 'mentougou',
 'miyun',
 'pingchang',
 'pinggu',
 'shangdianzi',
 'shijingshan',
 'shunyi',
 'tongzhou',
 'xiayunling',
 'yanqing',
 'zhaitang'}

In [9]:
aq_set = set(bj_aq['station_id'].value_counts().to_dict().keys())
aq_set

{'aotizhongxin',
 'badaling',
 'beibuxinqu',
 'daxing',
 'dingling',
 'donggaocun',
 'dongsi',
 'dongsihuan',
 'fangshan',
 'fengtaihuayuan',
 'guanyuan',
 'gucheng',
 'huairou',
 'liulihe',
 'mentougou',
 'miyun',
 'miyunshuiku',
 'nansanhuan',
 'nongzhanguan',
 'pingchang',
 'pinggu',
 'qianmen',
 'shunyi',
 'tiantan',
 'tongzhou',
 'wanliu',
 'wanshouxigong',
 'xizhimenbei',
 'yanqin',
 'yizhuang',
 'yongdingmennei',
 'yongledian',
 'yufa',
 'yungang',
 'zhiwuyuan'}

In [10]:
print('number os station in meo_data: {}'.format(len(meo_set)))
print('number os station in aq_data: {}'.format(len(aq_set)))

number os station in meo_data: 18
number os station in aq_data: 35

In [11]:
print('meo_set & aq_set  number : {}'.format(len(meo_set & aq_set)))
meo_set & aq_set

meo_set & aq_set  number : 9

{'daxing',
 'fangshan',
 'huairou',
 'mentougou',
 'miyun',
 'pingchang',
 'pinggu',
 'shunyi',
 'tongzhou'}

In [24]:
def merge_dataframe(meo_data, aq_data, station):
    sta_meo = meo_data[meo_data['station_id'] == station]
    sta_aq = aq_data[aq_data['station_id'] == station].drop(columns='station_id')
#     meo_name = station + '_meo.csv'
#     aq_name = station + '_aq.csv'
#     sta_meo.to_csv(meo_name, index=False)
#     sta_aq.to_csv(aq_name, index=False)
#     sta_meo = pd.read_csv(meo_name)
#     sta_aq = pd.read_csv(aq_name)
    sta = pd.merge(sta_meo, sta_aq, on='utc_time')
    sta.to_csv(path+'merge/'+station + '.csv', index=False)
    print('len of {} is {}'.format(station, len(sta)))

In [25]:
bj_meo.shape

(158047, 10)

In [26]:
bj_aq.shape

(295020, 8)

In [27]:
for i in (meo_set & aq_set):
    merge_dataframe(bj_meo,bj_aq,i)

len of mentougou is 8111
len of huairou is 8002
len of fangshan is 8078
len of shunyi is 8102
len of pinggu is 8075
len of tongzhou is 7070
len of miyun is 8051
len of daxing is 8018
len of pingchang is 8090